/*
* CV layout based on Skeleton V1.2 (2012-06-20) by Dave Gamache
* Original Skeleton code copyright 2011, Dave Gamache
* Modified and extended by Mykola Mitin, 2015-2026
* Original Skeleton code is available under the MIT License:
* http://www.opensource.org/licenses/mit-license.php
*/

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

.container .column {
	float: left;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

.row {
	margin-bottom: 20px;
	zoom: 1;
}

.container .one-third.column {
	width: 290px;
}

.container .two-thirds.column {
	width: 620px;
}

.container::after,
.row::before,
.row::after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.container::after,
.row::after {
	clear: both;
}
